*{
    box-sizing: border-box;
}
.jobList {
	margin-top:50px;
}
.btn:focus {
outline: none !important;
box-shadow: none !important;
}
.filterbtn {
    background: black !important;
}
#crossbtn {
    background-color:  hsl(180, 29%, 50%);
    color:white;
}
#crossbtn:hover {
background-color: hsl(180, 14%, 20%);

}
#filterbtn {
    color: hsl(180, 29%, 50%);
    font-weight: bold;
}
.image {
	background: hsl(180, 29%, 50%);
	background-image: url('/images/bg-header-desktop.svg');
}
.avatar {
height: 5rem;
width:5rem;
border-radius:50%;
background-size:cover;
}

.filterContainer {
	display:flex;
	background-color:#fff;
	padding:15px 20px;
	z-index:10;
	border-radius:3;
	position:relative;
	bottom:40px;
    flex-wrap: wrap;
}
@media only screen and (min-width: 600px) {
    .job {
        display:flex;
        justify-content:space-between;
        align-items:center;

    }
    .insideJob {
    	display: flex;
    }


}
@media only screen and (max-width: 600px) {
    .hr {
    	border: 0.2px solid rgba(0,0,0,0.1);
    	margin:10px 0px;
    }
    .avatar {
        width: 3rem;
        height: 3rem;
        position:absolute;
        bottom:85%;
        left:15px;
    }
    .pad {
        padding-top: 20px;
    }


}
