@import url('https://fonts.googleapis.com/css?family=Spartan:regular,bold,italic&subset=latin,latin-ext');
body {

  margin: 0;
  font-family: Spartan;
  font-size: 15px;
	box-sizing: border-box; 
	background-color: hsl(180, 52%, 96%);


}
h1 {
	font-family: GodofThunder Medium;
}


